<template name="home">
	<div class="container">
		<div class="row">
			{{> inputs}}
			{{> outputs}}
		</div>
	</div>
</template>



<template name="inputs">
	<div class="col s12 m6">
		<div class="card">
			<div class="card-content">
				<h2>Input</h2>
				<form action="">
					<p>Select two distinct prime numbers</p>
					<input type="text" id="prime1" placeholder="Prime 1">
					<input type="text" id="prime2" placeholder="Prime 2">
				</form>
				<form action="">
					<p>Select a number "e" that is greater than 1, and less than phi. Phi and "e" must also be coprime. (Selecting a prime number will always be coprime)</p>
					<input type="text" id="e" placeholder="Public Key Exponent">
				</form>
			</div>
		</div>
	</div>
</template>


<template name="outputs">
	<div class="col s12 m6">
		<div class="card">
			<div class="card-content">
				<h2>Output</h2>
				<ul>
					<li>Prime 1 (p): {{p}}</li>
					<li>Prime 2 (q): {{q}}</li>
				</ul>
			</div>
		</div>
	</div>
</template>
